# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\multec_3de jaar\web3\web3\web3-courseproject-MayesElBaba\LIVECHAT WERKT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
